/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.errorMsg{
  color: brown;
  font-size:medium;
  padding: 5px;
}
.button{
  color:wheat;
  background-color:black;
}
form label
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
  
}
form input{
  display: block;
  margin: 5px;
}
.heading{
  color:black ;
  font-weight: bold;
}
.radio{
  display:inline;
  margin:10px;

}
.home{
  height:100%;
  width:100%;
  background-size: auto;
}
.alignflippy{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
 
}
.alignflippyspace{
  margin-left: 30px;
  margin-top: 30px;
}

.applyfrontcolor{
  background-image: linear-gradient(#cc99ff,#ff99cc);
}

.applybackcolor{
  background-image: linear-gradient(#ccffff,#6699ff);
}
/* .applybackgroundcolor{
  background-image: linear-gradient(#cc99ff,#ff99cc);

} */
.homeimg{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url("https://designroast.org/wp-content/uploads/2015/08/ways-to-make-website-more-professional.jpg");
  background-repeat: no-repeat;

}
.required{
  color:red;

}
.search{
  padding-left: 3px;
  padding-top: 4px;
  /* background-image: https://cdn4.vectorstock.com/i/1000x1000/21/48/search-icon-magnifier-glass-zoom-symbol-or-web-vector-23192148.jpg; */
}
